#contato {
  scroll-margin-top: 150px;
}

footer {
  font-family: "Poppins", sans-serif;
  background-color: #553699;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-container {
  background-color: #553699;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  padding-bottom: 60px;
}

.footer-texto{
  width: 400px;
  color: #ccc;
  line-height: 1.33;
  font-size: 1.5rem;
  margin-top: 60px;
  margin-left: 140px;
}

.footer-apresentacao {
  grid-column: 1;
  grid-row: 1;
  /* margin-bottom: 60px; */
}

.footer-apresentacao p {
   line-height: 1.4;
}

.footer-contato {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1;
  grid-row: 2;
  margin-top: 60px;
  align-items: center;
  gap: 10px;
}

.footer-contato img{
  width: 30px;
  height: auto;
  margin-left: 140px;
}

.footer-contato-email, .footer-contato-telefone, .footer-contato-instagram{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

.footer-contato p {
  color: #F0F0F0;
  font-size: 1rem;
}

.footer-detalhe-contato {
  text-transform: uppercase;
  font-size: 6rem;
  width: 260px;
  line-height: 1;
  color: #5E409F;
  word-break: break-word;
  justify-self: end;
  position: absolute;
  top: 60px;
  right: 140px;
  /* margin-right: 140px; */
  /* padding-top: 120px; */
}

.footer-copy {
  font-size: 0.8rem;
   justify-self: end;
   align-self: end;
   margin-right: 60px;
   margin-top: 60px;
   color: #F0F0F0;
   grid-row: 2;
}

@media (max-width:1000px) {
  .footer-detalhe-contato {
    display: none;
  }
  .footer-contato {
    grid-column: 2;
    grid-row: 1;
  }
  .footer-container {
    justify-content: center;
  }
  .footer-copy {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .footer-contato img {
    margin-left: 0;
    font-size: 0.8rem;
  }
  .footer-contato p {
    margin-left: 0;
    font-size: 0.8rem;
  }
}

@media (max-width:800px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-texto {
    margin: 0;
    margin-top: 60px;
    text-align: center;
  }
  .footer-copy {
    margin: 0;
    margin-top: 60px;
    align-self: center;
  }
}

@media (max-width: 600px) {
  .footer-texto {
    font-size: 1rem;
  }
  .footer-copy {
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .footer-texto {
    width: 300px;
    font-size: 0.8rem;
  }

  .footer-copy {
    font-size: 0.5rem;
  }
}
